%table#projects.tablesorter
  %thead
    %tr
      %th Asiakas
      %th Projektin nimi
      %th Projektin kuvaus
      %th Projektin vaihe
      -Project.task_names.each do |t|
        %th= t.to_s
  %tbody
    -@projects.each do |p|
      %tr
        %td.input= p.customer.name
        %td.input= p.name
        %td.input= p.description
        %td.input= p.state
        -p.tasks_in_order!.each do |t|
          %td{:class => "task", "data-code" => t.status!.code, "data-id" => t.id, "style" => "background-color:#{t.status!.color}"}= "#{t.status!.comment}"
    %tr
      -form_for @project do |f|
        -f.fields_for :customer do |customer|
          %td= customer.text_field :name
        %td= f.text_field :name
        %td= f.text_field :description
        %td= f.text_field :state
        %td
          %button{type="submit"} Lisää


