%table#projects
  %thead
    %tr
      %th Asiakas
      %th Projektin nimi
      %th Projektin kuvaus
      %th Projektin vaihe
      -Project.task_names.each do |t|
        %th= t.to_s
  %tbody
    -@projects.each do |p|
      %tr
        %td.input= p.customer!.name
        %td.input= p.name
        %td.input= p.description
        %td.input= p.state
        -p.tasks_in_order!.each do |t|
          %td{:class => "task #{t.status!.css_class}", "data-code" => t.status!.code, "data-id" => t.id} 
            .comment{"data-id" => t.id}= "#{t.status!.comment}"
            %span{:style => "display:none", "data-code" => t.status!.code}
-form_for @project do |f|
  %table#new-project
    %thead
      %tr
        %th Nimi
        %th OK
      %tr
        %td= f.text_field :name
        %td
          %button{type="submit"} Lisää


