%html
  %head
    = stylesheet_link_tag :application
    = javascript_include_tag :application
  %body
    #navcontainer
      %ul#nav-bar
        %li
          = link_to "Projektiryhmät", project_groups_path
        %li
          = link_to "Uusi projektiryhma", new_project_group_path({:tasks => 5})
    #container
      = yield
