<html>
<head>
= #stylesheet_link_tag "liquid" 
= #stylesheet_link_tag "blueprint/src/reset", "blueprint/src/typography"
= stylesheet_link_tag "application"
= #stylesheet_link_tag "tablesorter/blue/style"
= stylesheet_link_tag "datatables/css/demo_table"
= javascript_include_tag :all, :recursive => true
</head>
<body>
.container
  = yield
</body>
</html>
